<div class="reference">
    <table>
        <tr>
            <td class="label"><%=_.t(typeof labelKey !== 'undefined' ? labelKey : 'Billing reference')%></td>
            <td><%= rent.billingReference %></td>
        </tr>
        <tr>
            <td class="label"><%=_.t('Rental period')%></td>
            <td><%= _.formatTerm(rent.period, tenant.contract.lease.timeRange) %></td>
        </tr>
        <% if (rent.propertyAddress) { %>
            <tr>
                <td class="label"><%=_.t('Property address')%></td>
                <td><%= rent.propertyAddress %></td>
            </tr>
        <% } %>
    </table>
</div>
