<div class="logo">
    <% if (typeof logoUrl !== 'undefined' && logoUrl) { %>
        <img src="<%= logoUrl %>">
    <% } %>
    <div style="font-size: 9pt; color: #555; letter-spacing: 1pt;"><%= _.t(documentActor.role === 'manager' ? 'Property manager' : 'Owner') %></div>
    <h1><%= documentActor.name %></h1>
    <% if (documentActor.taxId) { %>
        <div><%= _.t('Tenant tax id') %>: <%= documentActor.taxId %></div>
    <% } %>
    <% if (documentActor.address) { %>
        <div>
            <% if (documentActor.address.street1) { %>
                <%= documentActor.address.street1 %>
            <% } %>
            <% if (documentActor.address.street2) { %>
                <br><%= documentActor.address.street2 %>
            <% } %>
            <% if (documentActor.address.zipCode || documentActor.address.city) { %>
                <br><%= documentActor.address.zipCode || '' %> <%= documentActor.address.city || '' %>
            <% } %>
            <% if (documentActor.address.state) { %>
                <br><%= documentActor.address.state %>
            <% } %>
            <% if (documentActor.address.country) { %>
                <br><%= documentActor.address.country %>
            <% } %>
        </div>
    <% } %>
    <% if (documentActor.phone || documentActor.email) { %>
        <div class="contact">
            <% if (documentActor.phone) { %>
                <%= _.t('Phone: {{phone}}', { phone: documentActor.phone }) %><br>
            <% } %>
            <% if (documentActor.email) { %>
                <%= _.t('Email: {{email}}', { email: documentActor.email }) %><br>
            <% } %>
        </div>
    <% } %>
</div>
