<tr>
  <th><%= _.t('Description') %></th>
  <th><%= _.t('Quantity') %></th>
  <th><%= _.t('Unit price without VAT') %></th>
  <th><%= _.t('Total without VAT') %></th>
</tr>

<% rent.preTaxAmounts.forEach(function(preTaxAmount) { %>
	<tr class="item-row">
	  <td class="description">
	  	<%= preTaxAmount.description %>
	  </td>
		<td class="txtAlignRight">1</td>
	  <td class="txtAlignRight"><%= _.formatNumber(preTaxAmount.amount, 'currency') %></td>
		<td class="txtAlignRight"><%= _.formatNumber(preTaxAmount.amount, 'currency') %></td>
	</tr>
<% }); %>

<% rent.charges.forEach(function(charge) { %>
		<tr class="item-row">
		  <td class="description">
		  	<%= charge.description %>
		  </td>
			<td class="txtAlignRight">1</td>
			<td class="txtAlignRight"><%= _.formatNumber(charge.amount, 'currency') %></td>
			<td class="txtAlignRight"><%= _.formatNumber(charge.amount, 'currency') %></td>
		</tr>
<% }); %>

<% (rent.buildingCharges || []).forEach(function(charge) { %>
		<tr class="item-row">
		  <td class="description">
		  	<%= charge.buildingName ? charge.buildingName + ' - ' : '' %><%= charge.description %>
		  </td>
			<td class="txtAlignRight">1</td>
			<td class="txtAlignRight"><%= _.formatNumber(charge.amount, 'currency') %></td>
			<td class="txtAlignRight"><%= _.formatNumber(charge.amount, 'currency') %></td>
		</tr>
<% }); %>

<% rent.discounts.forEach(function(discount) { %>
	<tr class="item-row">
	  <td class="description">
			<%= discount.description %>
	  </td>
	  <td class="txtAlignRight">1</td>
	  <td class="txtAlignRight">- <%= _.formatNumber(discount.amount, 'currency') %></td>
		<td class="txtAlignRight">- <%= _.formatNumber(discount.amount, 'currency') %></td>
	</tr>
<% }); %>

<% rent.debts.forEach(function(debt) { %>
		<tr class="item-row">
		  <td class="description">
		  	<%= debt.description %>
		  </td>
			<td class="txtAlignRight">1</td>
			<td class="txtAlignRight"><%= _.formatNumber(debt.amount, 'currency') %></td>
			<td class="txtAlignRight"><%= _.formatNumber(debt.amount, 'currency') %></td>
		</tr>
<% }); %>

<%
	// Pad the table to a consistent 9-row layout. If the invoice has
	// MORE than 9 line items, render zero filler rows (Math.max guard);
	// without this, emptyRowCount went negative and the for-loop's
	// 0<negative condition silently produced zero iterations the same
	// way, but a negative count was hidden math that could mask a real
	// "items overflowed the layout" condition. Math.max makes the
	// intent explicit.
	var emptyRowCount = Math.max(0, 9 - rent.preTaxAmounts.length - rent.charges.length - (rent.buildingCharges || []).length - rent.discounts.length - rent.debts.length);
	for (var idx=0; idx<emptyRowCount; idx++) {
%>
	<tr class="item-row">
		<td class="description">&nbsp;</td>
		<td class="txtAlignRight">&nbsp;</td>
		<td class="txtAlignRight">&nbsp;</td>
		<td class="txtAlignRight">&nbsp;</td>
	</tr>
<% } %>
